venv/
env/
*.pem
*.pub
*.tar.gz
*.zip
*.db
secrets.txt
tmp/
build/
.idea/*
.idea
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
persistence/
logs/
raw/
archive/
temp/
batch_dump.bat